<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleACPIPS2Nub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>VoodooPS2Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VoodooPS2Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VoodooPS2Mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VoodooPS2Trackpad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VoodooPS2synapticsPane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>synapticsconfigload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84167812161B55B2002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8416782C161B5613002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84167840161B56A2002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84167854161B56C4002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8464670A161E1CAE008750B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F424C1161B593D00777765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F424E1161B59E500777765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F424FA161B5A4900777765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
