<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>1.7.0, Copyright David Elliott 2007, Copyright Rehabman 2012</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleACPIPS2Nub</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.voodoo.driver.AppleACPIPS2Nub</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleACPIPS2Nub</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.7.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI PS/2 Nub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.voodoo.driver.AppleACPIPS2Nub</string>
			<key>IOClass</key>
			<string>AppleACPIPS2Nub</string>
			<key>IONameMatch</key>
			<array>
				<string>PNP0303</string>
				<string>PNP030B</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>MouseNameMatch</key>
			<array>
				<string>PNP0F03</string>
				<string>PNP0F0B</string>
				<string>PNP0F0E</string>
				<string>PNP0F13</string>
			</array>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.7.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
