<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-Voodoo-PS2-Controller</string>
	<key>CFBundleGetInfoString</key>
	<string>1.7.7, Copyright Apple Computer, Inc. 2002-2003, mackerintel 2008, RehabMan 2012</string>
	<key>CFBundleExecutable</key>
	<string>VoodooPS2Trackpad</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.voodoo.driver.PS2Trackpad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Voodoo PS/2 Trackpad</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.7.7</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ALPS GlidePoint</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.voodoo.driver.PS2Trackpad</string>
			<key>IOClass</key>
			<string>ApplePS2ALPSGlidePoint</string>
			<key>IOProbeScore</key>
			<integer>1500</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
		</dict>
		<key>Sentelic FSP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.voodoo.driver.PS2Trackpad</string>
			<key>IOClass</key>
			<string>ApplePS2SentelicFSP</string>
			<key>IOProbeScore</key>
			<integer>5500</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
		</dict>
		<key>Synaptics TouchPad</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.voodoo.driver.PS2Trackpad</string>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>IOClass</key>
			<string>ApplePS2SynapticsTouchPad</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>ProductID</key>
			<integer>547</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>Configuration</key>
			<dict>
				<key>CenterX</key>
				<integer>3000</integer>
				<key>CenterY</key>
				<integer>3000</integer>
				<key>CircularScrollDivisor</key>
				<integer>0</integer>
				<key>CircularScrollTrigger</key>
				<integer>0</integer>
				<key>Divisor</key>
				<integer>1</integer>
				<key>FingerZ</key>
				<integer>30</integer>
				<key>HorizontalScrollDivisor</key>
				<integer>1</integer>
				<key>MaxDragTime</key>
				<integer>230000000</integer>
				<key>MaxTapTime</key>
				<integer>130000000</integer>
				<key>MultiFingerHorizontalDivisor</key>
				<integer>1</integer>
				<key>MultiFingerVerticalDivisor</key>
				<integer>1</integer>
				<key>MultiFingerWLimit</key>
				<integer>9</integer>
				<key>StabilizeTapping</key>
				<true/>
				<key>StickyHorizontalScrolling</key>
				<false/>
				<key>StickyMultiFingerScrolling</key>
				<false/>
				<key>StickyVerticalScrolling</key>
				<false/>
				<key>UseHighRate</key>
				<true/>
				<key>VerticalScrollDivisor</key>
				<integer>1</integer>
				<key>ZLimit</key>
				<string>100</string>
				<key>QuietTimeAfterTyping</key>
				<integer>500000000</integer>
				<key>DisableLEDUpdating</key>
				<string>No</string>
				<key>MouseYInverter</key>
				<integer>1</integer>
				<key>WakeDelay</key>
				<integer>1000</integer>
				<key>SmoothInput</key>
				<true/>
				<key>UnsmoothInput</key>
				<true/>
				<key>SkipPassThrough</key>
				<false/>
				<key>TapThresholdX</key>
				<integer>50</integer>
				<key>TapThresholdY</key>
				<integer>50</integer>
				<key>DoubleTapThresholdX</key>
				<integer>100</integer>
				<key>DoubleTapThresholdY</key>
				<integer>100</integer>
				<key>EdgeLeft</key>
				<integer>1700</integer>
				<key>EdgeRight</key>
				<integer>5200</integer>
				<key>EdgeTop</key>
				<integer>4200</integer>
				<key>EdgeBottom</key>
				<integer>1700</integer>
				<key>ZoneLeft</key>
				<integer>1700</integer>
				<key>ZoneRight</key>
				<integer>5200</integer>
				<key>ZoneTop</key>
				<integer>99999</integer>
				<key>ZoneBottom</key>
				<integer>0</integer>
				<key>DisableZoneLeft</key>
				<integer>0</integer>
				<key>DisableZoneRight</key>
				<integer>1700</integer>
				<key>DisableZoneTop</key>
				<integer>99999</integer>
				<key>DisableZoneBottom</key>
				<integer>4200</integer>
				<key>DisableZoneControl</key>
				<integer>0</integer>
				<key>Resolution</key>
				<integer>2300</integer>
				<key>ScrollResolution</key>
				<integer>2300</integer>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>org.rehabman.voodoo.driver.PS2Controller</key>
		<string>1.7.7</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
